@import '../../lib/constants.scss';

[data-mount][id^='lhcard'] + [data-mount][id^='lhcard'] {
  margin-top: -1rem;
}

.root {
  position: relative;
  margin-left: -2.375rem;
  margin-right: -2.375rem;
  padding: 1rem 1.25rem;
  background-color: #ebebeb;
  font-family: ABCSans;
  font-size: 0.75rem;

  /* Scrollyteller panel layout matching (large-first responsive) */

  @media only screen and (max-width: 1022px) {
    font-size: 0.6875rem;
  }

  @media only screen and (max-width: 667px) {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    padding: 0.625rem 0.75rem;
  }

  @media only screen and (min-width: 100rem) and (max-width: 120rem) {
    font-size: 0.6875rem;
  }

  :first-child > & {
    margin-top: -2.25rem;

    @media only screen and (max-width: 667px) {
      margin-top: -1.5rem;
    }
  }

  :last-child > & {
    margin-bottom: -2.25rem;

    @media only screen and (max-width: 667px) {
      margin-bottom: -1.5rem;
    }
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
  gap: 0.5rem;
}

.header > * {
  white-space: nowrap;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.25;

  @media only screen and (max-width: 1022px) {
    font-size: 1.125rem;
  }

  @media only screen and (min-width: 100rem) and (max-width: 120rem) {
    font-size: 1.125rem;
  }
}

.status {
  letter-spacing: 0.033em;
}
