@import '../../lib/constants.scss';

// Root

.root {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100% 0;
  --color-allocation: #{$color_White};
}

@media (orientation: landscape) and (max-height: 50rem) {
  .root {
    padding-bottom: 0 !important;
    height: 32rem;
  }
}

@media (orientation: landscape) and (max-height: 25rem) {
  .root {
    padding-bottom: 0 !important;
    height: 16rem;
  }
}

.svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  shape-rendering: crispEdges;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@media (max-resolution: 1.5dppx) {
  .svg {
    shape-rendering: initial;
  }
}

// This polygon only has a stroke/strokeWidth to fix a Chrome rendering bug
// where hairline box fragments are drawn around elements which use clipping
.svg defs[data-is-chrome] > clipPath > polygon {
  stroke: $color_Black;
  stroke-width: $swHeavy * 2;
}

// Base

.base {
  transition: opacity $durationDefault;
}

.root[data-has-focuses] .base {
  opacity: $opacityFadedOut;
}

.baseOuter {
  stroke: $color_Black;
  stroke-width: $swDemi;
  fill: none;
}

.root[data-layout='#{$Layout_COUNTRY}'] .baseOuter {
  opacity: 0;
}

.baseInner {
  stroke: $color_White;
  stroke-width: $swLight;
  fill: $color_LightGrey;
}

// Electorates

.electorates {
  transition: opacity $durationDefault;
}

.electorate {
  pointer-events: none;
  transition: opacity $durationDefault;
}

.root[data-has-focuses] .electorate[data-focus='#{$NoYes_No}'] {
  opacity: $opacityFadedOut;
}

.root[data-has-focuses][data-is-inspecting] .electorate[data-focus='#{$NoYes_No}'] {
  opacity: $opacityFadedOutInspecting;
  transition: none;
}

// Electorates (Hexes)

@keyframes electorateHexFlip {
  0% {
    fill: $color_White;
    stroke: $color_Black;
    // stroke: var(--color-relative-allocation);
    transform: none;
  }
  49.99% {
    fill: $color_White;
    stroke: $color_Black;
    // stroke: var(--color-relative-allocation);
    // transform: rotateX(90deg);
    transform: rotateY(90deg);
  }
  50% {
    fill: var(--color-allocation);
    stroke: none;
    // transform: rotateX(-90deg);
    transform: rotateY(-90deg);
  }
  100% {
    fill: var(--color-allocation);
    stroke: none;
    transform: none;
  }
}

.electorateHex {
  will-change: opacity, transform, fill, stroke;
  fill: var(--color-allocation);
  stroke: none;
  stroke-width: $swHeavy;
  transition: opacity $durationDefault, fill $durationAllocationChange, stroke $durationAllocationChange;
}

@media (max-resolution: 1.5dppx) {
  .electorateHex {
    stroke-width: $swHeavyLowDPI;
  }
}

.root[data-is-interactive] .electorateHex {
  pointer-events: all;
  cursor: pointer;
}

.electorate[data-allocation='#{$Allocation_None}'][data-focus='#{$NoYes_Yes}'] .electorateHex {
  stroke: $color_Black;
  // stroke-width: $swDemi;
}

.electorate[data-certainty='#{$NoYes_No}'] .electorateHex {
  fill: $color_White;
  stroke: var(--color-allocation);
}

.electorateHex[data-should-flip] {
  animation: electorateHexFlip $durationAllocationChange linear 1 both;
}

// Electorates (Hex Outlines)

.electorateHexOutline {
  fill: none;
  stroke: $color_White;
  stroke-width: $swLight;
  transition: stroke 0s #{$durationAllocationChange / 2};
}

.electorate[data-allocation='#{$Allocation_None}'] .electorateHexOutline {
  stroke: none;
}

// Electorates (Labels)

.electorateLabel {
  transform: rotate(30deg) translate(0, 0.3em);
  fill: $color_Text;
  font-size: 0.75rem;
  font-family: sans-serif;
  text-anchor: middle;
}

.root[data-is-single-state-layout] .electorateLabel {
  font-size: 0.875rem;
}

.root[data-is-single-state-layout] .electorate[data-has-long-label]:not([data-has-multi-line-label]) .electorateLabel {
  font-size: 0.75rem;
}

.electorate[data-has-allocation][data-certainty='#{$NoYes_Yes}'] .electorateLabel {
  fill: $color_White;
}

// States (Borders) (only used on Country layout)

.statesBorders {
  pointer-events: none;
  will-change: opacity;
  opacity: 0;
  fill: none;
  stroke: $color_Black;
  stroke-width: $swMedium;
}

.root[data-layout='#{$Layout_COUNTRY}'] .statesBorders {
  opacity: 1;
}

.root[data-has-focuses] .statesBorders {
  opacity: $opacityFadedOut;
}

// States (Labels)

.statesLabels {
  opacity: 1;
  pointer-events: none;
  font-size: 1.75rem; // Default for individual states
  transition: opacity #{$durationDefault / 2} #{$durationDefault / 2};
}

.root[data-layout='#{$Layout_COUNTRY}'] .statesLabels,
.root[data-layout='#{$Layout_EXPLODED}'] .statesLabels,
.root[data-layout='#{$Layout_GRID}'] .statesLabels {
  font-size: 1.375rem;
}

.root:not([data-has-inset-state-labels])[data-layout='#{$Layout_COUNTRY}'] .statesLabels,
.root:not([data-has-inset-state-labels])[data-layout='#{$Layout_EXPLODED}'] .statesLabels {
  opacity: 0;
  transition: none;
}

.stateLabel {
  transform: translate(0, 0.6em);
  text-anchor: middle;
  fill: $color_Text;
}

.root[data-layout='#{$Layout_COUNTRY}'] .stateLabel[data-state='ACT'],
.root[data-layout='#{$Layout_EXPLODED}'] .stateLabel[data-state='ACT'],
.root[data-layout='#{$Layout_COUNTRY}'] .stateLabel[data-state='NT'],
.root[data-layout='#{$Layout_EXPLODED}'] .stateLabel[data-state='NT'] {
  font-size: 0.8em;
}

.stateLabel[data-is-outline] {
  display: none;
  stroke: $color_White;
  stroke-opacity: 0.8;
  stroke-width: $swDemi;
}

.root[data-has-inset-state-labels][data-layout='#{$Layout_COUNTRY}'] .stateLabel[data-is-outline],
.root[data-has-inset-state-labels][data-layout='#{$Layout_EXPLODED}'] .stateLabel[data-is-outline] {
  display: initial;
}
