// Allocation enum
$Allocation_None: 'n';
$Allocation_CLN: 'c';
$Allocation_LikelyCLN: 'q';
$Allocation_Tossup: 't';
$Allocation_LikelyALP: 'z';
$Allocation_ALP: 'a';

// Focus enum
$Focus_No: 'n';
$Focus_Yes: 'y';

// Theming
$color_Black: #000;
$color_Grey: #989494;
$color_White: #fff;
$color_Text: $color_Black;
$color_BG: $color_White;
$color_None: $color_White;
$color_CLN: #006dbd;
$color_LikelyCLN: #bdd4ef;
$color_Tossup: $color_Grey;
$color_LikelyALP: #eaaeae;
$color_ALP: #c21718;
$color_No: $color_White;
$color_Yes: $color_Black;

// Stroke widths
$swNone: 0;
$swLight: 1;
$swLight_SM: 2;
$swHeavy: 5;
$swHeavy_SM: 8;

// Transitioning
$allocationTransitionDuration: 0.75s;
