@import '../../lib/constants.scss';

.blockMediaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blockMediaContainer > [data-mount][id^='lhgraphic'] {
  width: 100%;
}

:global(.is-piecemeal) > :global(.Block-content).firstBlockContent:nth-child(2) > :first-child {
  margin-top: 0 !important;
}

.root {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  font-family: ABCSans, system-ui, sans-serif;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

[data-mount][id^='lhgraphic']:global(.u-pull) > .root,
.blockMediaContainer > [data-mount][id^='lhgraphic'] > .root {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 42rem;
}

@media (min-width: 668px) {
  [data-mount][id^='lhgraphic']:global(.u-pull) > .root,
  .blockMediaContainer > [data-mount][id^='lhgraphic'] > .root {
    padding: 0;
    max-width: 40rem;
  }
}

.figure {
  margin: 0;
}

.footer {
  opacity: 0;
  transition: opacity 0.25s;
}

.footer[data-is-counting] {
  opacity: 1;
}
